:root {
  --primary: #638b5d;
  --secondary: #256693;
  --white: #fff;
  --bg-primary: #eff3ee;
  --lightgreen: #bdd85a;
  --deepblue: #0b5583;
  --curiousBlue: #1f80bf;
  --gallery: #f0f0f0;
  --mantis: #80c675;
}

* {
  text-align: right;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#app-container .app-nav {
  height: 53px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-nav .nav-logo2 {
  display: none;
}

.app-nav .nav-logo,
.search-d2 img {
  height: 50px;
  width: 140px;
  margin-left: 20px;
}

#app-container .app-nav .nav-right {
  display: flex;
  flex-direction: row;
}

.nav-right .search-d3 {
  background-color: var(--secondary);
  text-align: center;
  padding: 20px;
  color: var(--white);
  margin-left: 10px;
}

.nav-right .search-d3 #hamburgerIcon img {
  width: 30px;
}

.nav-right .search-d3 #hamburgerIcon {
  display: block;
  border: none;
  box-shadow: none;
}

.nav-right .search-d3 #close-tag {
  display: none;
}

.nav-logo-text {
  padding-right: 10px;
  border-right: 1px solid var(--curiousBlue);
}

#app-container #app-content {
  height: calc(100vh - 53px);
  position: relative;
  flex-direction: row;
  display: flex;
}

#app-content .left-sidebar {
  width: 33%;
  display: flex;
  flex-direction: row;
}

#app-content .left-sidebar .left-sidebar-bg {
  background-image: url('./images/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 83%;
}

#app-content .left-sidebar .left-sidebar-icons ul {
  list-style: none;
  margin-top: 63px;
  margin-left: 20px;
}

#app-content .left-sidebar .left-sidebar-icons ul li {
  margin-top: 10px;
  text-align: center;
}

#app-content .left-sidebar .left-sidebar-icons ul li img {
  height: 20px;
  width: 37px;
}

.whatsapp-icon {
  height: 20px;
  width: 22px !important;
}

#app-content .right-sidebar {
  width: 20%;
  padding: 20px 80px 20px 20px;
  position: relative;
}

.right-sidebar span {
  color: var(--secondary);
}

.right-sidebar .arrowImg {
  width: 30px;
}

#app-content .right-sidebar .link-wrapper {
  list-style: none;
  margin-top: 20px;
}

#app-content .right-sidebar .link-wrapper li {
  margin-top: 20px;
  color: var(--primary);
  font-size: 12px;
}

#app-content .right-sidebar .link-wrapper li:hover,
.active {
  background-color: var(--primary);
  padding: 5px;
  color: white !important;
  border-radius: 2px;
  border: 1px solid var(--primary);
}

.right-sidebar-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 23px;
  background-color: var(--secondary);
  height: 75px;
  width: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-sidebar-logo span {
  font-size: 12px;
  color: var(--white);
}

.right-sidebar-logo img {
  height: 40px;
  width: 70px;
}

#app-content .body-center {
  width: 47%;
  overflow-y: scroll;
  padding: 20px 10px 20px 20px;
  height: 100%;
}

#app-content .body-center::-webkit-scrollbar {
  display: none;
}

.hyper-links a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 12px;
}

.inner-h {
  margin-top: 25px;
  color: var(--secondary);
}

.first-card {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 25px;
  margin-top: 40px;
  border-radius: 5px;
}

.bottom-card {
  /* height: 200px; */
  position: absolute;
  background-color: var(--secondary);
  color: var(--white);
  z-index: 99 !important;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;
}

.bottom-wrapper {
  position: relative;
}

#content-wrapper {
  border: 1px solid var(--primary);
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.content-top {
  margin-bottom: 10px;
}

.content-top h2 {
  margin-right: 10px;
}

.footer-form-wrapper {
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 25px;
  border-radius: 20px;
  justify-content: space-between;
  /* height: 350px; */
}

.footer-contact {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
}

/* Accordion styling */
.accordion {
  background-color: #f8f8f8;
  color: var(--secondary);
  cursor: pointer;
  padding: 5px 18px 18px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 15px;
  margin-top: 10px;
  height: 70px;
}

.accordion .accordion-icon {
  float: left;
  margin-top: 25px;
}

.accordion-title {
  font-size: 12px;
}

.accordion .markup-icon {
  width: 20px;
  height: 20px;
}

.accordion .markup-text {
  font-size: 10px;
  color: var(--primary);
}

#content-wrapper .active,
.accordion:hover {
  background-color: #ccc;
  color: var(--secondary) !important;
}

#content-wrapper .active {
  border-bottom: none !important;
  background-color: #f8f8f8 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel {
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--primary);
}

.inner-left {
  border-right: 1px solid #a4bed0 !important;
  padding-right: 5px;
  margin-right: 5px;
}

.card {
  height: 100px;
  margin-top: 20px;
  font-size: 12px;
}

.card-footer-wrapper {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin-top: 20px;
  font-size: 12px;
}

.card-footer-wrapper .f-left,
.card .f-left {
  background-color: var(--primary);
  width: 80%;
  padding: 10px;
  color: var(--white);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-footer-wrapper .f-left p {
  margin-top: 5px;
}

.card-footer-wrapper .f-btn {
  background-color: white !important;
  color: var(--primary);
  padding: 2px !important;
  margin-top: 5px;
}

.card-footer-wrapper .f-right,
.card .f-right {
  background-color: var(--lightgreen);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-footer-wrapper .f-right img {
  width: 40px;
}

.info-img-wrapper img {
  width: 600px;
  margin-top: 25px;
}

.footer-icon1 {
  height: 25px;
  width: 25px;
}

.footer-line {
  display: none;
  width: 100%;
  background-color: var(--gallery);
}

.third-section {
  height: 60px !important;
  margin-bottom: 20px;
}

.third-section .f-left {
  background-color: var(--deepblue);
  justify-content: flex-end;
}

.third-section .f-left p {
  font-size: 10px;
}

.third-section .f-right {
  background-color: var(--curiousBlue);
}

.third-section .f-right img {
  width: 30px;
}

#s-fourth {
  margin-bottom: 50px;
}

#s-fourth button {
  height: 16px;
  font-size: 8px;
}

#s-fourth .inner-div {
  border-right: 1px solid var(--curiousBlue);
  padding-right: 10px;
}

/* custom tokens */

.text-primary {
  color: var(--primary);
}

.bg-primary {
  color: var(--primary);
}

.text-secondary {
  color: #256693;
}

.text-green {
  color: var(--mantis);
}

.bg-secondary {
  background-color: #256693 !important;
}

.text-small {
  font-size: 12px !important;
}

.text-medium {
  font-size: 15px !important;
}

.bold {
  font-weight: bold !important;
}

/* button styling */
.btn {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary-outline {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
}

.btn-secondary-outline {
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--secondary);
}

.rounded-btn {
  border-radius: 40px;
}

.custom-input {
  height: 40px;
  border-radius: 40px;
  background-color: var(--gallery);
  border: 1px solid var(--gallery);
}

.custom-textarea {
  height: 170px;
  border-radius: 20px;
  background-color: var(--gallery);
  border: 1px solid var(--gallery);
  resize: none;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-1-5 {
  margin-bottom: 15px;
}

.mt-1-5 {
  margin-top: 15px;
}

.pt-1 {
  padding-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.pt-2 {
  padding-top: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.d-flex {
  display: flex !important;
}

.row {
  flex-direction: row !important;
}

.col {
  flex-direction: column !important;
}

.space-between {
  justify-content: space-between;
}

.d-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.d-center {
  justify-content: center;
}

.spacing-1 {
  letter-spacing: 1px;
}

/* Responsive Media Queries  */

/* For Desktop View */
@media screen and (min-width: 1024px) {
  .info-img-wrapper img {
    width: 410px;
  }
}

/* @media screen and (max-width: 768px) {
  .info-img-wrapper img {
    width: 286px;
  }
}

@media screen and (max-device-width: 1440px) {
  .info-img-wrapper img {
    width: 600px;
  }
} */

@media screen and (min-width: 320px) and (max-width: 580px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .info-img-wrapper img {
    width: 286px;
  }

  #app-content .right-sidebar {
    padding: 20px;
  }

  .accordion {
    height: 100px;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  #app-container #app-content {
    flex-direction: column;
  }

  #app-content .right-sidebar {
    display: none;
  }

  #app-content .left-sidebar {
    display: none;
  }

  #app-content .body-center {
    width: 100%;
  }

  /* .info-img-wrapper img {
    width: 355px;
  } */

  .accordion {
    display: flex;
    flex-direction: column-reverse;
    padding: 18px 18px 18px 18px;
    justify-content: center;
    align-items: center;
    height: 110px;
  }

  .accordion .accordion-icon {
    float: none;
    margin-top: 10px;
  }

  .nav-right .search-d1 {
    display: none !important;
  }

  .nav-right .search-d3 {
    padding: 15px;
  }

  .nav-right .search-d2 {
    margin-right: 78px;
  }

  .app-nav .nav-logo2 {
    display: block;
    height: 30px;
    width: 40px;
    margin-left: 20px;
  }

  .app-nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-nav .nav-logo {
    display: none;
  }

  .bottom-card {
    flex-direction: column;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
  }

  .footer-contact {
    width: 100%;
  }

  .footer-line {
    display: block;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 320px) {
  .info-img-wrapper img {
    width: 253px;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  .info-img-wrapper img {
    width: 320px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .info-img-wrapper img {
    width: 600px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

@media (min-width: 2560px) {
  .info-img-wrapper img {
    width: 1106px;
  }
}
