:root {
  --primary: #638b5d;
  --secondary: #256693;
  --white: #fff;
  --bg-primary: #eff3ee;
  --lightgreen: #bdd85a;
  --deepblue: #0b5583;
  --curiousBlue: #1f80bf;
  --gallery: #f0f0f0;
  --mantis: #80c675;
}

* {
  text-align: right;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Atlas Regular';
  src: url('./font/atlas-regular-aaa.woff2') format('woff2');
}
@font-face {
  font-family: 'Atlas Medium';
  src: url('./font/atlas-medium-aaa.woff2') format('woff2');
}
@font-face {
  font-family: 'Atlas Bold';
  src: url('./font/atlas-bold-aaa.woff2') format('woff2');
}

body {
  /* font-family: 'AtlasPro AAA', 'Regular'; */
  /* font-family: 'David Libre'; */
  /* font-family: 'Fredoka'; */
  /* font-family: 'Anek Latin'; */
  /* font-family: 'IBM Plex Sans Hebrew', sans-serif; */
  /* font-family: AtlasProAAA, arial, tahoma; */
  /* font-family: 'M PLUS 1p', sans-serif; */
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Atlas Regular', arial, tahoma;
}

.f-med {
  font-family: 'Atlas Medium';
}

.f-bold {
  font-family: 'Atlas Bold';
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#app-container .app-nav {
  height: 53px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--white);
}

.app-nav .nav-logo2 {
  display: none;
}

.app-nav .nav-logo,
.search-d2 img {
  height: 50px;
  width: 140px;
  margin-left: 20px;
}

#app-container .app-nav .nav-right {
  display: flex;
  flex-direction: row;
}

.nav-right .search-d3 {
  background-color: var(--secondary);
  text-align: center;
  padding: 20px;
  color: var(--white);
  margin-left: 10px;
}

.nav-right .search-d3 #hamburgerIcon img {
  width: 30px;
}

.nav-right .search-d3 #hamburgerIcon {
  display: block;
  border: none;
  box-shadow: none;
}

.nav-right .search-d3 #close-tag {
  display: none;
}

.nav-logo-text {
  padding-right: 10px;
}

.nav-logo-search {
  padding-right: 10px;
  cursor: pointer;
  height: 23px;
  margin-top: 5px;
}

.search-input {
  border: none;
  border-bottom: 1px solid var(--secondary);
  display: none;
}

.search-input:focus {
  outline: none;
}

.search-div {
  padding-right: 10px;
  border-right: 1px solid rgb(31, 128, 191, 0.5);
  display: flex;
}

.nav-right .search-d1 {
  position: relative;
}

#lang-dropdown {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  padding: 10px 8px;
  top: 58px;
  right: 33px;
  z-index: 100;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  font-size: 14px;
}

#lang-dropdown .lang-items {
  color: #dddd;
  cursor: pointer;
  margin-bottom: 7px;
  letter-spacing: 1px;
  text-align: center;
}

#lang-dropdown .i-2 {
  font-size: 19px;
}

#lang-dropdown .lang-items:hover {
  color: var(--white);
}

#lang-dropdown-tri {
  display: none;
  position: absolute;
  top: 48px;
  right: 64px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 15px solid var(--secondary);
}

#lang-dropdown-btn {
  cursor: pointer;
  padding-bottom: 10px;
}

#app-content2 {
  height: 100vh;
}

.left-sidebar {
  width: 33%;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 1;
  top: 53px;
  display: none;
}

.left-sidebar .left-sidebar-bg {
  background-image: url('./images/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 83%;
}

.body-center .mobile-top-bg {
  background-image: url('./images/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: none;
}

.left-sidebar .left-sidebar-icons ul {
  list-style: none;
  margin-top: 63px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-sidebar .left-sidebar-icons ul li {
  margin-top: 10px;
  text-align: center;
}

.left-sidebar .left-sidebar-icons ul li img {
  height: 20px;
  width: 37px;
}

.whatsapp-icon {
  height: 18px !important;
  width: 17px !important;
}

.right-sidebar {
  width: 20%;
  /* position: relative; */

  position: fixed;
  right: 0;
  height: 100vh;
  /* width: 200px; */
  z-index: 1;
  top: 53px;
  display: none;
}

.right-sidebar-wrapper {
  position: relative;
  height: 100%;
  padding: 20px 85px 20px 30px;
}

.right-sidebar span {
  color: var(--secondary);
}

.right-sidebar .arrowImg {
  width: 30px;
}

.right-sidebar .link-wrapper {
  list-style: none;
  margin-top: 20px;
}

.right-sidebar .link-wrapper li {
  margin-top: 20px;
  color: var(--primary);
  font-size: 17px;
}

.right-sidebar .link-wrapper li:hover,
.active {
  padding: 5px;
  margin-right: 3px;
  transition: 0.4s;
  font-weight: bolder;
  text-shadow: 0 0 black;
}

.right-sidebar .link-wrapper .active {
  background-color: var(--primary);
  padding: 5px;
  color: white !important;
  border-radius: 2px;
  border: 1px solid var(--primary);
}

.right-sidebar-logo {
  position: absolute;
  right: 0;
  bottom: 54px;
  margin-bottom: 23px;
  background-color: var(--secondary);
  height: 75px;
  width: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-sidebar-logo span {
  font-size: 10px;
  color: var(--white);
}

.right-sidebar-logo img {
  height: 40px;
  width: 60px;
}

.body-center {
  width: calc(100% - 53%);
  position: relative;
  left: 33%;
  top: 53px;
  padding-bottom: 100px;
  padding-top: 20px;
}

.body-center::-webkit-scrollbar {
  display: none;
}

.hyper-links a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 14px;
}

.inner-h {
  margin-top: 25px;
  color: var(--secondary);
}

.first-card {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 25px;
  margin-top: 40px;
  border-radius: 5px;
}

#bottom-wrapper {
  width: 100%;
  position: relative;
  z-index: 3;
}

.bottom-card {
  color: var(--white);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 40px 30px 40px;
}

#bottom-wrapper {
  position: relative;
  background: url('./images/map.jpeg');
}

#content-wrapper {
  border: 1px solid var(--primary);
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.content-top {
  margin-bottom: 10px;
}

.content-top h2 {
  margin-right: 10px;
}

.footer-form-wrapper {
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 25px;
  border-radius: 20px;
  justify-content: space-between;
}

.footer-contact {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
}

.footer-contact h2 {
  font-size: 19px;
  display: flex;
}

.footer-contact h2 .footer-icon1 {
  margin-left: 5px;
}

/* Accordion styling */
.accordion {
  background-color: #f8f8f8;
  color: var(--secondary);
  cursor: pointer;
  padding: 5px 18px 12px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 15px;
  margin-top: 10px;
}

.accordion .accordion-icon {
  float: left;
  margin-top: 25px;
}

.accordion-title {
  font-size: 10px;
}

.accordion .markup-icon {
  width: 20px;
  height: 20px;
}

.accordion .markup-text {
  font-size: 12px;
  color: var(--primary);
}

#content-wrapper .active,
.accordion:hover {
  background-color: #ccc;
  color: var(--secondary) !important;
}

#content-wrapper .active {
  border-bottom: none !important;
  background-color: #f8f8f8 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel {
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--primary);
}

.panel .heading {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.panel-facewrapper {
}

.panel-faceleft {
  padding: 5px;
  width: 65%;
}

.panel-faceleft img {
  width: 100%;
}

.panel-faceright {
  width: 36%;
  border: 0.5px solid var(--secondary);
  /* opacity: 0.4; */
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-size: 20px;
}

.panel-faceright img {
  height: 70px;
  width: 80px;
}

.panel-faceright p:nth-child(2),
.panel-faceright p:nth-child(3) {
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 black;
  font-weight: 600;
}

.panel-faceright p:nth-child(4) {
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.inner-left {
  border-right: 1px solid #a4bed0 !important;
  padding-right: 5px;
  margin-right: 5px;
}

.card {
  height: 100px;
  margin-top: 20px;
  font-size: 12px;
}

.card-footer-wrapper {
  display: flex;
  flex-direction: row;
  /* height: 100px; */
  margin-top: 20px;
  font-size: 12px;
}

.card-footer-wrapper .f-left,
.card .f-left {
  background-color: var(--primary);
  width: 80%;
  padding: 10px;
  color: var(--white);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-footer-wrapper .f-left {
  padding: 15px 22px;
}

.card-footer-wrapper .f-left p {
  margin-top: 5px;
  font-size: 15px;
}

.card-footer-wrapper .f-btn {
  background-color: white !important;
  color: var(--primary);
  padding: 3px 12px !important;
  margin-top: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.card-footer-wrapper .f-right,
.card .f-right {
  background-color: var(--lightgreen);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-footer-wrapper .f-right img {
  width: 40px;
}

.info-img-wrapper .plane-div .plane-img {
  height: 50px;
  position: absolute;
  left: -39px;
  bottom: -26px;
  width: 50px;
}

.info-img-wrapper,
.info-img-wrapper-2 {
  position: relative;
  margin-bottom: 120px !important;
  min-height: 390px;
}

fieldset {
  margin-top: 120px;
  margin-bottom: 97px;
  border: 1px solid transparent;
  border-top-color: var(--primary);
  box-sizing: border-box;
  grid-area: 1 / 1;
  border-top-right-radius: 15px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
  border-top-left-radius: 15px;
  height: 35px;
}

.info-img-wrapper-2 fieldset {
  border-top-color: var(--secondary);
  border-left-color: var(--secondary);
  border-right-color: var(--secondary);
}

legend {
  font: 15pt/0 'Averia Serif Libre';
  margin: auto;
  padding: 0 4px;
  color: var(--primary);
}

.info-img-wrapper-2 legend {
  color: var(--secondary);
}

.c-container {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.circle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 100%; */
  /* height: 240px; */
  position: absolute;
  top: -62px;
  direction: rtl;
}

.circle-wrapper .ci {
  /* height: 30px; */
  border-radius: 50%;
  background-color: white;
  border: 1px solid #638b5d;
  width: 150px;
  height: 150px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-wrapper-2 .circle-wrapper .ci {
  border: 1px solid var(--secondary);
}

.circle-wrapper .ci-inner {
  /* height: 30px; */
  border-radius: 50%;
  border: 4px solid #638b5d;
  width: 140px;
  height: 140px;
}

.info-img-wrapper-2 .circle-wrapper .ci-inner {
  border: 4px solid var(--secondary);
}

.ci-inner-bottom {
  font-size: 12px;
  text-align: center;
  color: var(--secondary);
  margin-bottom: 20px;
}

.ci-inner-top {
  border-radius: 50%;
  background: var(--primary);
  height: 25px;
  width: 25px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-wrapper-2 .ci-inner-top {
  background: var(--secondary);
}

.ci-innter-center {
  height: 12px;
}

.dotten-div {
  border: 2.7px dotted var(--primary);
  height: 120px;
  border-radius: 50px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 41px;
  opacity: 1;
}

.dotten-div2 {
  border: 2.7px dotted var(--primary);
  height: 120px;
  border-radius: 50px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top: transparent;
  opacity: 1;
}

.info-img-wrapper-2 .dotten-div {
  border: 2.7px dotted var(--primary);
  height: 120px;
  border-radius: 50px;
  /* border-right: 0; */
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* border-bottom: transparent; */
  margin-right: 41px;
  opacity: 1;
}

.info-img-wrapper-2 .dotten-div2 {
  border: 2.7px dotted var(--primary);
  height: 120px;
  border-radius: 50px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top: transparent;
  opacity: 1;
}

.footer-icon1 {
  height: 25px;
  width: 25px;
}

.footer-line {
  display: none;
  width: 100%;
  background-color: var(--gallery);
}

.hr-line {
  width: 100%;
  border-color: 0.5 solid var(--secondary);
  opacity: 0.4;
}

.third-section {
  height: 60px !important;
  margin-bottom: 45px;
}

.third-section .f-left {
  background-color: var(--deepblue);
  justify-content: flex-end;
}

.third-section .f-left p {
  font-size: 10px;
  margin-right: 10px;
}

.third-section .f-right {
  background-color: var(--curiousBlue);
}

.third-section .f-right img {
  width: 40px;
}

#s-fourth {
  margin-bottom: 50px;
}

#s-fourth button {
  /* height: 16px; */
  font-size: 11px;
  border-radius: 50px;
}

#s-fourth .p1 {
  font-size: 20px;
  letter-spacing: 0.5px;
}

#s-fourth .p2 {
  font-size: 15px;
}

#s-fourth .inner-div {
  border-right: 1.5px solid var(--primary);
  padding-right: 20px;
}

#s-fourth .inner-div .p3 {
  letter-spacing: 0.5px;
}

#s-fourth .inner-div .p4 {
  text-decoration: underline;
  letter-spacing: 1px;
}

#s-fourth .inner-div .radio-btn {
  border-radius: 50px;
  font-size: 9px;
  letter-spacing: 1px;
  padding: 4px 8px;
  line-height: 10px;
  background-color: var(--secondary);
  color: var(--white);
}

#mobile-bottom-tab {
  position: fixed;
  bottom: 0;
  height: 68px;
  width: 100%;
  background-color: var(--white);
  z-index: 4 !important;
  padding-top: 7px;
  display: none;
  box-shadow: 0px -7px 6px #00000036;
  opacity: 1;
}

.bottom-modal-div {
  position: relative;
  display: none;
}

.tab-modal-btn-div {
  justify-content: space-around;
}

.tab-modal-btn-div .btn {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 100;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font: normal normal normal 16px/12px Regular;
  line-height: 12px;
}

.bottom-tab-modal {
  height: 250px;
  background-color: #ededed;
  position: fixed;
  bottom: 50px;
  width: 100%;
  z-index: 3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -3px 6px #00000045;
  opacity: 1;
  padding: 10px 30px;
}

.bottom-tab-modal .arrImg {
  height: 20px;
  cursor: pointer;
}

.bottom-tab-modal .modal-noteIcon {
  height: 50px;
}

.bottom-tab-wrapper {
  position: relative;
}

.bottom-tab-wrapper .circle {
  height: 50px;
  width: 50px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -19px;
  left: 45%;
  right: 40%;
  z-index: 4;
  cursor: pointer;
}

.bottom-tab-wrapper .circle .circle-btn {
  height: 30px;
  width: 30px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.bottom-tab-wrapper .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.bottom-tab-wrapper .tabs .tab-center {
  padding-top: 32px;
}

/* custom tokens */

.text-primary {
  color: var(--primary);
}

.bg-primary {
  color: var(--primary);
}

.text-secondary {
  color: #256693;
}

.text-green {
  color: var(--mantis);
}

.bg-secondary {
  background-color: #256693 !important;
}

.text-small {
  font-size: 12px !important;
}

.text-medium {
  font-size: 15px !important;
}

.bold {
  font-weight: bold !important;
}

/* button styling */
.btn {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary-outline {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
}

.btn-secondary-outline {
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--secondary);
}

.rounded-btn {
  border-radius: 40px;
}

.custom-input {
  height: 40px;
  border-radius: 40px;
  background-color: var(--gallery);
  border: 1px solid var(--gallery);
}

.custom-textarea {
  height: 170px;
  border-radius: 20px;
  background-color: var(--gallery);
  border: 1px solid var(--gallery);
  resize: none;
}

.link {
  cursor: pointer;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-0-5 {
  margin-bottom: 5px;
}

.mb-1-5 {
  margin-bottom: 15px;
}

.mt-1-5 {
  margin-top: 15px;
}

.pt-1 {
  padding-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.pt-2 {
  padding-top: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-0-5 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 10px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.d-flex {
  display: flex !important;
}

.row {
  flex-direction: row !important;
}

.col {
  flex-direction: column !important;
}

.space-between {
  justify-content: space-between;
}

.d-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.d-center {
  justify-content: center;
}

.d-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.spacing-1 {
  letter-spacing: 1px;
}
