/* Extra Small Devices (phones) */
@media only screen and (max-width: 480px) {
  .body-header{
    margin-right: 0;
  }
  .body-center .mobile-top-bg{
    height: 250px !important;
  }
  .card-footer-wrapper{
    height: 262px;
  }
  .card-footer-wrapper .f-left p{
    font-size: 20px;
  }
  .f-bullets{
    display: grid !important;
    grid-template-columns: 50% 50%;
    row-gap: .5rem;
    border-bottom: 1px solid var(--white);
    padding-bottom: .8rem;
    margin-bottom: .8rem;
  }
  .f-bullets .f-bullet-content span{
    font-size: 14px;
  }
  .f-left .fs-12{
   display: none;
  }
  .fs-12-mobile{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-top: .2rem;
    font-size: 13px;
    border-bottom: 1px solid var(--white);
    padding-bottom: .8rem;
    margin-bottom: .4rem;
  }
  .f-right.green-card img{
    margin-top: 1.5rem;
    align-self: self-start;
  }
  /* .accordion-section{
    position: relative;
  } */
  .accordion {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 0px 0px 0px;
    justify-content: center;
    align-items: end;
  }
  .accordion div:nth-child(2){
    margin-right: .5rem;
  }
  .mt-1{
    margin-top: 5px;
  }
  .accordion .accordion-icon,
  .accordion #Expand_Item {
    float: none;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    opacity: 0.5;
  }
  .accordion.active #accordion-close-tag{
    display: none !important;
   }
   .accordion-section .accordion-icon-border-two{
    display: none;
   }
   .accordion-section .accordion-icon-border-two img{
     width: 15px;
     height: 15px;
     opacity: 0.4;
   }
  .accordion-icon-border,
  .accordion-section.active .accordion-icon-border-two{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: .8rem;
    width: 100%;
    background: #EDEDED 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 14px 14px;
    opacity: 1;
    padding: 2px 0px;
  }
  .accordion-arrow-border{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 14px 14px;
    background: #EDEDED 0% 0% no-repeat padding-box;
    padding: 2px 10px;
    margin-top: 0;
  }
  .accordion-arrow-border img{
    width: 10px;
    height: 10px;
  }
  .accordion.active .accordion-icon-border{
    position: relative;
    background:transparent !important;
    border-radius: 0px;
  }
  .accordion.active .accordion-icon-border::after{
    content: '';
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1.5px;
    background: #256693;
    opacity: 0.1;
  }
  /* .accordion.active span{
    position: absolute;
    bottom: 0;
  } */
  .accordion .markup-text {
    text-align: center;
    margin-top: 1px;
  }

  .accordion .markup-icon {
    height: 12px;
    width: 12px;
  }

  .accordion-title {
    font-size: 12px;
    letter-spacing: 0px;
    margin-right: 1.2rem;
  }
 .accordion-title.second{
  display: block;
 }
 .accordion-div div:nth-child(1){
  flex:4;
  padding-right: 10px;
 }
 .accordion-div div:nth-child(2){
  flex:1;
 }
  .panel-facewrapper {
    flex-direction: column !important;
  }

  .panel-facewrapper .panel-faceleft,
  .panel-faceright {
    width: 100%;
  }

  .nav-right .search-d1 {
    display: none !important;
  }

  .nav-right .search-d3 {
    padding: 15px;
  }

  .nav-right .search-d2 {
    margin-right: 78px;
  }

  .app-nav .nav-logo2 {
    display: block;
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .app-nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-nav .nav-logo {
    display: none;
  }

  .bottom-card {
    flex-direction: column;
    padding: 50px 20px 110px 20px;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
  }

  .footer-contact {
    width: 100%;
  }

  .footer-line {
    display: block;
  }

  .inner-left {
    font-size: 12px;
  }

  .inner-left span {
    font-size: 10px;
  }

  #mobile-bottom-tab {
    display: block;
  }

  .dotten-div,
  .dotten-div2 {
    height: 140px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .dotten-div{
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 140px;
  }

  .info-img-wrapper {
    min-height: 520px;
    margin-bottom: 0 !important;
  }
 
  /* .circle-wrapper {
    background-image: url('../images/snake.svg');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    gap: 1rem;
  } */
  .circle-wrapper .ci {
    width: 130px;
    height: 130px;
    margin-bottom: 10px !important;
  }

  .circle-wrapper .ci-inner {
    width: 120px;
    height: 120px;
  }

  .ci-inner-bottom {
    font-size: 10px;
    padding: 5px;
  }

  .p-upload {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .p-upload button {
    margin-right: 0;
    margin-top: 20px;
  }

  .p-uploadBtn-div {
    width: 100%;
  }

  .p-upload p {
    font-size: 10px;
    color: #d0d0d0;
  }
  .tab-left,.tab-center,.tab-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: .3rem;
  }
   .circle-wrapper {
    display: grid !important;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../images/snake.svg');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    gap: 1rem;
    position: relative;
    top:-.5rem;
  } 
  .info-img-wrapper-2 .circle-wrapper {
    background-image: url('../images/snake2.svg');
  }
  .info-img-wrapper .circle-header {
    width: 90%;
  }
  .info-img-wrapper .circle-header span{
    width: 100px;
  }
  .dotten-div,.dotten-div2{
    display: none;
  }
  .circle-wrapper .ci{
    position: relative;
    top: -5rem;

  }
  .circle-wrapper .ci:nth-child(1),.circle-wrapper .ci:nth-child(2){
    top: -4rem;
    right: 1rem;
  }
  .circle-wrapper .ci:nth-child(3),.circle-wrapper .ci:nth-child(4){
    /* top: -4rem; */
    margin-top: 5px;
    right: 1rem;
  }
  .circle-wrapper .ci:nth-child(5),.circle-wrapper .ci:nth-child(6){
    margin-top: 5px;
    right: 1rem;
  }
  .plane-img{
    display: none;
  }
}


@media screen and (max-width: 380px) {
  .nav-right .search-d2 {
    margin-right: 42px;
  }

  .circle-wrapper .ci {
    width: 115px;
    height: 115px;
    margin-bottom: 5px;
  }

  .circle-wrapper .ci-inner {
    width: 105px;
    height: 105px;
    padding: 5px;
  }

  .info-img-wrapper {
    min-height: 435px;
  }
  .info-img-wrapper .circle-header span{
    width: 95px;
  }
  .dotten-div,
  .dotten-div2 {
    height: 120px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 120px;
  }

  .ci-inner-bottom {
    font-size: 8px;
    padding: 5px;
  }

  .first-card {
    padding: 23px 9px;
  }
}

/* Small Devices (tablets and larger phones) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 600px;
    margin-bottom: 0 !important;
  }

  .dotten-div,
  .dotten-div2 {
    height: 140px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 140px;
  }

  .circle-wrapper .ci {
    width: 130px;
    height: 130px;
    margin-bottom: 10px !important;
  }

  .circle-wrapper .ci-inner {
    width: 120px;
    height: 120px;
  }

  .ci-inner-bottom {
    font-size: 10px;
    padding: 5px;
  }
}

/* Medium Devices (tablets landscape, small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 500px;
  }

  .circle-wrapper .ci {
    margin-bottom: 13px;
    width: 130px;
    height: 130px;
  }

  .dotten-div,
  .dotten-div2 {
    height: 165px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 165px;
  }

  .circle-wrapper .ci-inner {
    width: 120px;
    height: 120px;
    padding: 5px;
  }

  .right-sidebar {
    padding: 20px;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .right-sidebar-wrapper {
    padding: 20px 20px 20px 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .body-center {
    width: 100%;
    left: 0;
  }

  .body-center .mobile-top-bg {
    display: block;
    background-image: url('../images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
  }

  #content-wrapper {
    border: none;
  }

  .first-card {
    margin: 20px;
  }

  .inner-h,
  .hyper-links,
  #s-fourth {
    margin-right: 20px;
  }

  .third-section {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .right-sidebar {
    display: block;
  }

  .left-sidebar {
    display: flex;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1202px) {
  .circle-wrapper .ci {
    margin-bottom: 13px;
    width: 130px;
    height: 130px;
  }

  .circle-wrapper .ci-inner {
    width: 120px;
    height: 120px;
    padding: 5px;
  }

  .dotten-div,
  .dotten-div2 {
    height: 165px;
  }

  .p-uploadBtn-div {
    width: 100%;
  }
}

/* Large Devices (laptops and desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1439px) {

  /* Your styles here */

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 375px;
  }

  .right-sidebar-wrapper {
    padding: 20px 20px 20px 30px;
  }
}

/* Extra Large Devices (large laptops and desktops) */
@media only screen and (min-width: 1440px) {
  /* Your styles here */
 
}
